<app-home></app-home>

<div class="admin-container">
 
    <!-- Main Content Area -->
    <main class="content">
        <!-- Centered Admin Panel Title -->
        <h1 class="centered-title">Admin Panel </h1>
 
        <!-- Tables for Admin Management -->
        <section class="tables-section">
            <div class="table-card">
                <h3>User Management</h3>
                <p>Manage admin login and user details</p>
                <a class="btn btn-primary" href="/admin-users" >Manage Users</a>
            </div>
 
            <div class="table-card">
                <h3>PermRole Management</h3>
                <p>Check and assign admin roles</p>
                <a class="btn btn-primary" href="admin-role"> Go to Roles</a>
            </div>
 
            <div class="table-card">
                <h3>Inventory Management</h3>
                <p>Manage books in the inventory</p>
                <button class="btn btn-primary" [routerLink]="['/admin/inventory']">Go to Inventory</button>
            </div>
 
            <div class="table-card">
                <h3>Book Management</h3>
                <p>Manage book details</p>
                <button class="btn btn-primary" [routerLink]="['/admin/books']">Go to Books</button>
            </div>
 
            <div class="table-card">
                <h3>Category Management</h3>
                <p>Manage book categories</p>
                <button class="btn btn-primary" [routerLink]="['/admin/categories']">Go to Categories</button>
            </div>
 
            <div class="table-card">
                <h3>Publisher Management</h3>
                <p>Manage publisher information</p>
                <button class="btn btn-primary" [routerLink]="['/admin/publishers']">Go to Publishers</button>
            </div>
 
            <div class="table-card">
                <h3>Purchase Log</h3>
                <p>Track book sales and purchases</p>
                <button class="btn btn-primary" [routerLink]="['/admin/purchaselog']">Go to Purchase Log</button>
            </div>
 
            <div class="table-card">
                <h3>Book Conditions</h3>
                <p>Manage book conditions (new, used, etc.)</p>
                <button class="btn btn-primary" [routerLink]="['/admin/bookcondition']">Go to Book Conditions</button>
            </div>
        </section>
    </main>
</div>