<div class="admin-container">
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <nav>
        <ul>
          <li routerLinkActive="active" [routerLink]="['/admin/dashboard']">Dashboard</li>
          <li routerLinkActive="active" [routerLink]="['/admin/inventory']">Manage Inventory</li>
          <li routerLinkActive="active" [routerLink]="['/admin/users']">Manage Users</li>
          <li routerLinkActive="active" [routerLink]="['/admin/roles']">Manage Roles</li>
          <li routerLinkActive="active" [routerLink]="['/admin/reports']">Reports</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </nav>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
</div>
