<div class="dashboard-container">
    <h1 class="title">Admin Panel</h1>
    
    <div class="grid-container">
        <div class="grid-item" (click)="navigateTo('user')">User Management</div>
        <div class="grid-item" (click)="navigateTo('permrole')">PermRole Management</div>
        <div class="grid-item" (click)="navigateTo('inventory')">Inventory Management</div>
        <div class="grid-item" (click)="navigateTo('book')">Book Management</div>
        <div class="grid-item" (click)="navigateTo('category')">Category Management</div>
        <div class="grid-item" (click)="navigateTo('publisher')">Publisher Management</div>
        <div class="grid-item" (click)="navigateTo('purchaseLog')">Purchase Log</div>
        <div class="grid-item" (click)="navigateTo('bookCondition')">Book Conditions</div>
    </div>
</div>
