/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", serif;

}