.row>div{
    height: 100vh;
    /* background-color: hsla(33, 78%, 91%, 0.404) ; */
    margin: 3%;
    /* border: 5px solid red; */
}

.acc{
    background-color: hsla(208, 100%, 97%, 0);
    width: 80%;
    color:white;
}