<div class="container">
    <div class="row text-center">
      
      <!-- For the 'allBooks' array -->
      <ng-container *ngFor="let b of allBooks">
        <div *ngIf="isEmpty()" class="col-sm-6 col-xl-4 mb-3">
          <div class="card pop" [routerLink]="['/viewbook', b.isbn]">
            <img src={{b.image}} class="card-img-top img-card" alt="book-img">
            <div class="card-body">
              <h5 class=" title ">{{b.title}}</h5>
              <!-- <p class="card-text">Edition - {{b.edition}}</p> -->
              
              <!-- <a [routerLink]="['/viewbook', b.isbn]" class="btn btn-primary">View Details</a> -->
              <!-- <a class="btn btn-primary ms-4">Add to Cart</a> -->
            </div>
          </div>
        </div>
      </ng-container>
  
      <!-- For the 'filteredBooks' array -->
      <ng-container *ngFor="let b of filteredBooks">
        <div *ngIf="!isEmpty()" class="col-sm-6 col-xl-4 mb-3">
          <div class="card pop" [routerLink]="['/viewbook', b.isbn]">
            <img src={{b.image}} class="card-img-top img-card" alt="book-img">
            <div class="card-body">
              <h5 class="card-title title gradient-color">{{b.title}}</h5>
              
              <!-- <p class="card-text">Edition - {{b.edition}}</p> -->
              <!-- <a [routerLink]="['/viewbook', b.isbn]" class="btn btn-primary">View Details</a> -->
              <!-- <a class="btn btn-primary ms-4">Add to Cart</a> -->
            </div>
          </div>
        </div>
      </ng-container>
      
    </div>
  </div>
  