<app-home></app-home>
<div class="back-btn-container position-absolute">
    <a href="javascript:history.back()" class="btn btn-outline-primary">⬅ Back</a>
</div>
<div class="container-fluid acc">
    <div class="row justify-content-center align-items-start">
        <!-- Image Section -->
        <div class="col-md-4 text-center img-container">
            <img src="{{book.image}}" class="img-fluid img-thumbnail mt-3 shadow" alt="Book Cover">
        </div>
        <!-- Book Details Section -->
        <div class="col-md-6">
            <h2 class="my-3 text-gradient">{{book.title}}</h2>
            <h4 class="my-3">ISBN: <span class="text-info">{{book.isbn}}</span></h4>
            <h6 class="my-3 text-start">Description:</h6>
            <p class="my-3 text-dark  p-3 rounded">{{book.description}}</p>
            <h6 class="my-3 text-start">Category:</h6> 
            <p><span class="my-3 text-dark  p-3 rounded">{{cat.catDescription}}</span></p>
            <h6 class="my-3 text-start">Publisher Details:</h6>
            <p class="text-muted">Name: <span class="my-3 text-dark  p-3 rounded">{{publisher.name}}</span></p>            
            <p class="text-muted">City: <span class="my-3 text-dark  p-3 rounded">{{publisher.city}}</span></p>
            <h6 class="my-3 text-start">Authors</h6>
            <div class="author-details" *ngFor="let auth of authorList">
                <p class="my-3 text-dark  p-3 rounded">{{auth.firstName}} {{auth.lastName}}</p>
            </div>
            <p class="text-muted">Price: <span class="my-3 text-dark  p-3 rounded">{{book.price}}</span></p>            
            <button class="btn btn-primary gradient-btn" (click)="addtocart(book.isbn)">Add to Cart</button>
        </div>
    </div>

     <!-- Reviews Section -->
     <div class="review ">
        
            <h2 class="text-start text-gradient">User Reviews</h2>
            <p class="text-warning ">By posting a comment, you agree to the terms.</p>
            <div class="d-flex align-items-center">
                
                <button class="text-dark p-2 rounded btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Write a Review
                </button>
                
            </div>
        
            <!-- Modal Dialog -->
            <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Write a Review</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-2">
                            <input type="number" [(ngModel)]="dummyReview.rating" class="form-control" placeholder="Enter rating" id="ratingInput" min="0" max="10" [value]="review.rating || ''">
                            <label for="ratingInput">Rating</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control pt-4" [(ngModel)]="dummyReview.comments" style="height: 100px" placeholder="Leave a comment" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Comments</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary gradient-btn" (click)="postReview()">Post</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Modal Ends -->
            
            
        
        
        <!-- Reviews List -->
        <div *ngFor="let review of reviewList" class="review-content mx-5 mb-3 bg-light shadow rounded">
            <h5 class="text-primary mx-5">{{review.name}}</h5>
            <p class="text-muted mx-5">Rating: <strong>{{review.rating}}/10</strong></p>
            <p class="mx-5">{{review.comments}}</p>
        </div>
    </div>
</div> 

<div *ngIf="isPopupVisible" class="popup-overlay">
    <div class="popup">
      <h3 >{{ popupMessage }}</h3>
     
      <button class="btn-primary" (click)="isPopupVisible = false">Close</button>
 
    </div>
  </div>

