<header class="mb-5">
  <nav class="position-relative navbar navbar-expand-lg bg-body-tertiary ">
    <div class=" position-fixed top-0 start-0 z-3 bg-white container-fluid p-2 mb-2">
      <!-- menu btn -->
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars"></i> Menu</button>


      <a class="navbar-brand ms-3" href="#">
        Book Inventory System
      </a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <!-- Empty List Item (for future use) -->
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Link</a> -->
          </li>
        </ul>
 
        <!-- Search Form and Buttons -->
        <form class="d-flex" style="width: 500px;" role="search" *ngIf="showDiv"  >
          <!-- search bar -->
          <input class="form-control me-2"
           type="search" placeholder="Search" aria-label="Search"
           (input)="onSearch($event)"
          >


          <button class="btn btn-outline-success" >Search</button>
          <!-- filter  -->
          <button class="btn btn-primary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="margin-left:2%;background-color: purple;border-color: purple;">
            <i class="fa-duotone fa-solid fa-filter"></i>
          </button>

        </form>
 
        <!-- Icons: User and Cart -->
        <div class="d-flex align-items-center">
          <a href="/shoppingcart">
          <span
          
          class="me-3" type="button"
          data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Cart"          
          style="position: relative; cursor: pointer; font-size: x-large;">
            <i class="fa-solid fa-cart-shopping" style="background-color: purple; color: white; padding: 10px; border-radius: 30%;"></i>
          </span>
        </a>
          <div class="btn-group me-3">
            <button type="button" data-bs-toggle="dropdown" style="border: 0; width: 50px;" aria-expanded="false" data-bs-reference="parent">
              <span style="position: relative; cursor: pointer; font-size: x-large;">
                <i class="fa-solid fa-user" style="background-color: purple; color: white; padding: 10px; border-radius: 30%;"></i>
              </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/profile"><i class="fa-regular fa-user"></i>Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" (click)="logout()"> <i class="fas fa-sign-out-alt"></i>Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
 
<!-- menu  off canvas -->
<!-- Enhanced Menu Offcanvas -->
<div
  class="offcanvas offcanvas-start w-25 bg-dark text-white"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header border-bottom border-secondary">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      <i class="bi bi-bookshelf me-2"></i> Book Inventory
    </h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- Offcanvas Navigation -->
    <ul class="list-group list-group-flush">
      <!-- View Books -->
      <li class="list-group-item bg-dark text-white border-secondary">
        <a href="/home" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-book  me-3 fs-4 text-warning"></i>
          <span>View Books</span>
        </a>
      </li>
      <!-- View Authors -->
      <li class="list-group-item bg-dark text-white border-secondary ">
        <a href="/authors" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-pen me-3 fs-4 text-success"></i>
          <span>View Authors</span>
        </a>
      </li>
      <!-- Profile -->
      <li class="list-group-item bg-dark text-white border-secondary">
        <a href="/profile" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-user me-3 fs-4 text-primary"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- Book Conditions  -->
      <li *ngIf="user.role.roleNumber===2 || user.role.roleNumber===4" class="list-group-item bg-dark text-white border-secondary">
        <a href="/bookcondition" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-warehouse me-3 fs-4 text-info"></i>
          <span>Book Condition</span>
        </a>
      </li>
      <!-- Post a Book -->

      <li *ngIf="user.role.roleNumber===2 || user.role.roleNumber===4" class="list-group-item bg-dark text-white border-secondary">
        <a href="/addbook" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-circle-plus me-3 fs-4 text-danger"></i>
          <span>Post a Book</span>
         
        </a>
      </li>
      <!-- Admin Portal -->
      <li *ngIf="user.role.roleNumber===4" class="list-group-item bg-dark text-white border-secondary">
        <a href="/admin" class="nav-link text-white d-flex align-items-center my-3">
          <i class="fa-solid fa-lock me-3 fs-4 text-info"></i>
          <span>Admin Portal</span>
        </a>
      </li>
    </ul>
  </div>
</div>



<!-- filter Offcanvas -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filter</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h3>Category</h3>
    
    <ul class="list-group">
      
      <li class="list-group-item" *ngFor="let c of allCategory">

        <input  class="form-check-input me-1"
          type="checkbox"
          value=""
          [value]="c.catId"
          [checked]="selectedCategories.has(c.catId)"
          (change)="onCheckboxChange(c.catId, $event)"
          id="checkbox-{{c.catId}}"
        >

        <label class="form-check-label" for="firstCheckbox">{{c.catDescription}}</label>
      </li>
    </ul>
    
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20%;">
      <button class="btn btn-primary" type="button" data-bs-dismiss="offcanvas" (click)="filter()">Apply Filters</button>
    </div>
  </div>
</div>