<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Book Inventory System
      </a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <!-- Empty List Item (for future use) -->
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Link</a> -->
          </li>
        </ul>
 
        <!-- Search Form and Buttons -->
        <form class="d-flex" style="width: 500px;" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <button class="btn btn-primary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="margin-left:2%;background-color: purple;border-color: purple;">
            <i class="fa-duotone fa-solid fa-filter"></i>
          </button>
        </form>
 
        <!-- Icons: User and Cart -->
        <div class="d-flex align-items-center">
          <span class="me-3" style="position: relative; cursor: pointer; font-size: x-large;">
            <i class="fa-solid fa-cart-shopping" style="background-color: purple; color: white; padding: 10px; border-radius: 30%;"></i>
          </span>
          <div class="btn-group me-3">
            <button type="button" data-bs-toggle="dropdown" style="border: 0; width: 50px;" aria-expanded="false" data-bs-reference="parent">
              <span style="position: relative; cursor: pointer; font-size: x-large;">
                <i class="fa-solid fa-user" style="background-color: purple; color: white; padding: 10px; border-radius: 30%;"></i>
              </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" (click)="logout()">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
 
<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filter</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h4>Category</h4>
    <input type="checkbox">
    <label>Romcom</label>
    <input type="checkbox">
    <label>SciFi</label>
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 50%;">
      <button class="btn btn-primary" type="button">Apply Filters</button>
    </div>
  </div>
</div>