.admin-publisher-container {
  margin: 20px;
  color: black;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f4f4f4;  /* Light background color for the entire table */
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #81d5e2; /* Light blue background for the header */
}

tr:nth-child(even) {
  background-color: #e9e9e9;  /* Light grey for even rows */
}

tr:hover {
  background-color: #ddd;  /* Darker on hover for better UX */
}

.update-row td {
  background-color: #f9f9f9;
}

.inline-update-form {
  margin: 10px 0;
}

.update-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.cancel-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}

select, input[type="text"] {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.popup-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(120, 194, 217, 0.8);
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
}

.popup-message button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.popup-message button:hover {
  background-color: #d32f2f;
}

